# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_PEREGRINEV1_LEFT
    def_bool $(shields_list_contains,peregrinev1_left)

config SHIELD_PEREGRINEV1_RIGHT
    def_bool $(shields_list_contains,peregrinev1_right)
